@theme {
    /* Overall colors */
    --color-primary: #ffffff;
    --color-secondary: #c6c6c6;
    --color-inactive: #808080;
    --color-active: #000080;

    /* The MS Sans Serif font registered in `./fonts.css`, with system fallbacks */
    --font-sans: "ms_sans_serif", "Microsoft Sans Serif", system-ui, sans-serif;
}
